<!DOCTYPE html>
<html>

<head>
	<title>Geoinformatica-Castastro</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		crossorigin="" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.7.5/proj4.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link href="/css/style.css" rel="stylesheet" />

	<link rel="icon" href="/images/favico2.png" type="image/x-icon">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.7.5/proj4.js"></script>

</head>

<body>
	<script>
	
	</script>

	<nav class="navbar navbar-expand-lg navbar-light  p-3">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><img src="/images/logo-sacaba.png" alt=""></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class=" collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav ms-auto ">


					<li class="nav-item">
						<!--a class="nav-link mx-2" href="#">CATASTRO MULTIFINALITARIO</a-->
						<h3 style="text-align: center; color: aliceblue;">DIRECCION DE CATASTRO MULTIFINALITARIO Y
							ADMINISTRACION DE TIERRAS</h3>
						<h4 style="text-align: center; color: aliceblue;">FOTOGRAMETRIA 2D - 3D</h4>
					</li>

				</ul>
				<ul class="navbar-nav ms-auto d-none d-lg-inline-flex">
					<a class="navbar-brand" href="#"><img src="/images/SIGAMOSADELANTE.png" alt=""></a>
				</ul>
			</div>
		</div>
	</nav>


	<nav class="navbar navbar-light" style="background-color: #08477b; height: 35px; ">
		<!-- Navbar content -->
		<div class=" search"  style="margin-left: 10px; margin-top: -8px;">
			<input title="814585.34,8073319.62" id="search" type="text" placeholder="Insertar coordenadas X,Y" style="border-radius: 5px; margin-bottom: 10px;">
			<button id="search-btn" onclick="search()" style="border-radius: 5px;">Buscar</button>
		</div>
		<div>
			<label style="color: aliceblue;margin-bottom: 10px;"><%= user %></label>
			<a title="cerrar sesion" style="margin-bottom: 10px; margin-right: 10px; " href="/users/logout">
				<img src="/images/cerrar-sesion.png"  title="cerrar sesion" alt="" height="20px" width="20px" style="margin-bottom: 7px;">
			</a>
			<!--h6 style="margin-left: 10px; color: aliceblue;"> <%= user %></h6-->
		</div>
		

	</nav>
	
	<div id="map"></div>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
		integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
		crossorigin=""></script>
	<img src="" alt="">

	<script src="/script/scriptpinos.js"></script>
	<script src="/script/script2.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>